/* Styles originally put in front of index.html 
-----------------------------------------------------------------------------*/
body {
	background:#eee;
}
*.select-item {
	width: 14em;
	height: 2.3em;
	padding: 2px 3px;
	margin: 0.5em 0;
}
*.tab-view {
	width: 768px;
}
#dimension-gf img, #monitor_count-gf img {
	width: 300px;
	vertical-align: middle;
	text-align:center;
}
#dimension-gf, #monitor_count-gf {
	vertical-align: middle;
	text-align:center;
}
button {
	width: 11em;
	padding: 2px 0;
	margin: 0.5em 0;
}
.button-vw-adv-apply, .button-sys-apply {
	float: right;
	width: 8em;
}
.buttonset-pair label[class~='ui-button'] {
	width: 4.5em;
}
.notice-block {
	display: block;
	height: 2em;
	padding-top: 1em;
	padding-bottom: 1.3em;
}
.notice-block-fixed {
	/* use absolution instead of fixed for IE6 fix */
	position: absolute;
	z-index: 9999;
	opacity: 0.8;
	/* Following is IE hack for transparency */
	zoom: 1;
	filter: alpha(opacity=80);
}
.notice-block-top {
	/* use absolution instead of fixed for IE6 fix */
	position: absolute;
	z-index: 9999;
	top: 0em;
}
.input-text-long {
	width: 35em;
}
/* For fixed width tab */
.ui-tabs .ui-tabs-nav li a {
	min-width: 4em;
	text-align: center;
}

/* Styles for my form inputs
-----------------------------------------------------------------------------*/
/* Generic compact radio input css */
.gen-radio-input-compact { margin: 0.5em 0em 0.5em 0em; }
	.gen-radio-input-compact > label { display: inline-block; min-width: 20%; text-align: right;margin-right: 1%; }
	.gen-radio-input-compact label[class~='ui-button'] { min-width: 15%; }

/* Generic 2-line radio input css */
.gen-radio-input { margin: 0.5em 0em 0.5em 0em; }
	.gen-radio-input > label { display: inline-block; min-width: 20%; text-align: left; margin-bottom: 0.5em; }
	.gen-radio-input label[class~='ui-button'] { min-width: 15%; }

/* Generic compact text input css */
.gen-text-input-compact { margin: 0.5em 0em 0.5em 0em; }
	.gen-text-input-compact > label { display: inline-block; min-width: 20%; text-align: right;	margin-right: 1%; }
	.gen-text-input-compact > input[type="text"] { display: inline-block; float: none; margin: 0; }
	.gen-text-input-compact > select { display: inline-block; float: none; margin: 0; }

/* Generic 2-line text input css */
.gen-text-input { margin: 0.5em 0em 0.5em 0em; }
	.gen-text-input > label { display: inline-block; min-width: 20%; text-align: left; margin-bottom: 0.5em; }
	.gen-text-input > input[type="text"] { display: inline-block; float: none; margin: 0; }

/* Generic apply button */
.gen-button-apply {	float: right; width: 8em; margin: 0em; }

/* Generic div block */
.gen-div { margin: 0.3em 0; }

/* Generic div block indent */
.gen-indent-l1 { margin-left: 2em; }

/* Color in grey */
.gen-text-not-important { color: rgb(180,180,180); }
/* Color in red */
.gen-text-important { color: rgb(256,0,0); }